.animate-heavy-pulse {
    animation-name: heavy-pulse;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes heavy-pulse {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
}

.animate-light-pulse {
    animation-name: light-pulse;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes light-pulse {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 0.2;
    }
}