.animate-heavy-pulse {
    animation-name: heavy-pulse;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes heavy-pulse {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
}

.animate-fade-away {
    animation-name: fade-away;
    animation-delay: 1600ms;
    animation-duration: 1600ms;
    animation-fill-mode: forwards;
}

@keyframes fade-away {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.animate-light-pulse {
    animation-name: light-pulse;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes light-pulse {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 0.2;
    }
}