a, button {
    color: var(--dark);
}

button:not(:disabled) {
    cursor: pointer;
}

.list-button {
    background-color: var(--white);
    border: 1px solid var(--blue);
    border-radius: var(--radius);
    color: var(--blue);
    display: inline-block;
    margin: var(--spacing-xs);
    padding: var(--spacing-sm) var(--spacing-md);
    position: relative;
}

.list-button.small {
    padding: var(--spacing-xs) var(--spacing-sm);
}

.list-button.small.selected {
    box-shadow: inset 0 2px;
}

.list-button:focus:not(:active):not(.selected),
.list-button:hover:not(:active):not(.selected) {
    box-shadow: 0 2px;
    top: -2px;
}

.link,
.plain-button {
    display: inline-block;
}

.link {
    text-decoration: underline;
}

.plain-button + .plain-button {
    margin-left: var(--spacing-md);
}

.button {
    background-color: var(--button-color);
    border-radius: var(--radius);
    color: var(--white);
    line-height: var(--lh-big);
    padding: var(--spacing-md);
    text-align: center;
}

.alt {
    background-color: transparent;
    border: 1px solid var(--button-color);
    color: var(--button-color);
    line-height: calc(var(--lh-big) - 2px);
}

.button[disabled] {
    background-color: var(--light);
}

.negative {
    --button-color: var(--red);
}