a, button {
    color: var(--dark);
}

button:not(:disabled) {
    cursor: pointer;
}

.list-button {
    background-color: var(--white);
    border: 1px solid var(--blue);
    border-radius: var(--radius);
    color: var(--blue);
    display: inline-block;
    margin: var(--spacing-xs);
    padding: var(--spacing-sm) var(--spacing-md);
}

.link,
.plain-button {
    display: inline-block;
}

.link {
    text-decoration: underline;
}

.link + .link,
.plain-button + .plain-button {
    margin-left: var(--spacing-md);
}