.chart-bar {
    fill: var(--blue);
    outline: none;
}

.chart:focus-within .chart-bar:not(:focus) {
    opacity: 0.4;
}

.chart-label {
    pointer-events: none;
    fill: var(--light);
    text-transform: uppercase;
    visibility: hidden;
}

.chart-label .label {
    font-size: var(--fs-normal);
}

.chart-label .count {
    font-size: var(--fs-big);
}

.chart-label .unit {
    font-size: var(--fs-small);
}