body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fs-normal);
    font-weight: 400;
    line-height: var(--lh-normal);
}

small {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fs-small);
    font-weight: 300;
    line-height: var(--lh-normal);
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: var(--fs-biggest);
    font-weight: 700;
    line-height: var(--lh-biggest);
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: var(--fs-bigger);
    font-weight: 700;
    line-height: var(--lh-bigger);
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: var(--fs-big);
    font-weight: 700;
    line-height: var(--lh-big);
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fs-big);
    font-weight: 400;
    line-height: var(--lh-big);
}

a, button {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fs-normal);
    font-weight: 400;
    line-height: var(--lh-normal);
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fs-big);
    font-weight: 400;
    line-height: var(--lh-big);
}